/* Definición de colores */
:root {
    --background: #202020;
    --azul-primario: #3a7ca5;
    --rosa-primario: #eb1b67;
    --blanco-primario: #ffff;
  }

/* *{

} */

body{
    font-style: var(--blanco-primario);
    color: var(--blanco-primario);
    font-family: Montserrat, sans-serif;
    overflow-x: hidden;

    background-color: var(--background);
}

.main-page{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
}

.container-main{
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 15px;

    max-width: 60%;
    min-height: 400px;

    h1{
        font-size: 100px;
        margin-bottom: 0;
    }

    h2{
        font-weight: 400;
        font-size: 35px;
        margin-bottom: 80px;
    }
}

.right-side{
    max-width: 30%;
    height: 98vh;
    img{
        padding-top: 0;
        width: 500px; 
    }
}

.water-mark{
    position: absolute;
    width: 400px;
    height: 400px;

    bottom: -100px;
    right: -80px;
    img{
        opacity: 0.3;
        width: 100%;
    }
}

.blob{
    z-index: 0;
    position: absolute;
    width: 700px;
    height: 700px;
    opacity: 0.5;
    filter: blur(50px);

    top: -150px;
    left: -300px;
}

.primary-btn{
    color: var(--background);
    background-color: var(--rosa-primario);
    border: none;
    border-radius: 10px;

    font-size: 20px;
    font-weight: 700;
    width: 180px;
    height: 80px;
}

.form-page{
    position: relative;
}

.form-container{
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;

    max-width: 100%;
    min-height: 98vh;

    h3{
        font-weight: 800;
        font-size: 35px;
        margin: 30px 0 10px 0;
    }
    h4{
        font-weight: 400;
        font-size: 22px;
        margin: 0 0 50px 0;
    }
}

.formulario{
    display: flex;
    position: relative;
    flex-direction: row;
    padding: 50px 20px 50px 20px;
    align-items: center;
    justify-content: center;

    width: 90%;
    
    background: rgba(255, 255, 255, 0.21);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.7px);
    -webkit-backdrop-filter: blur(7.7px);
    border: 1px solid rgba(255, 255, 255, 0.21);
}

.r-form{
    width: 45%;
}

.separator{
    background-color: var(--blanco-primario);
    height: 1000px;
    width: 5px;
    border-radius: 10px;
    margin: 0 60px 0 60px;
}

.l-form{
    width: 45%;
}

.radio-container{
    display: flex;
    flex-direction: row;
}

.pregunta{
    font-weight: 700;
    margin-top: 30px;
}

.card-answer{
    color: var(--background);
    font-size: 13px;
    background-color: var(--blanco-primario);
    border-radius: 15px;

    padding: 15px;
    margin: 10px;
    width: 100px;
}

.get-analysis{
    position: absolute;
    bottom: -20px;

    color: var(--blanco-primario);
    background-color: var(--rosa-primario);
    border: none;
    border-radius: 10px;

    font-size: 20px;
    font-weight: 700;
    width: 150px;
    height: 60px;
}

.blob-b{
    z-index: 0;
    position: absolute;
    width: 900px;
    height: 900px;
    opacity: 0.5;
    filter: blur(50px);

    top: -150px;
    left: -100px;
}

.blob-p{
    z-index: 0;
    position: absolute;
    width: 900px;
    height: 900px;
    opacity: 0.5;
    filter: blur(50px);

    bottom: -300px;
    right: -200px;
}

.investor-page{
    min-height: 98vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-investor{
    width: 90%;

    p{
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 0;
    }

    h5{
        font-size: 80px;
        font-weight: 700;
        margin: 0;
    }
}

.container-options{
    padding: 0 50px 0 50px;
    display: flex;
    flex-direction: column;
}

.top-options{
    display: flex;
    flex-direction: row;
}

.options{
    margin-right: auto;
}

.capital{
    display: flex;
    justify-content: end;
    flex-direction: column;
    font-size: 20px;
    font-weight: 500;

    label{
        padding-bottom: 20px;
    }
    input{
        padding-left: 10px;
        margin-bottom: 10px;
        border-radius: 25px;
        height: 30px;
    }
}

.text-options{
    padding-top: 15px;
    padding-bottom: 7px;
    font-size: 20px;
    font-weight: 500;
}

.logos-empresas{
    img{
        padding: 8px;
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 50%;
    }
}

.companies{
    display: flex;
    flex-direction: column;
}

.company-row{
    display: flex;
    flex-direction: row;
    background-color: var(--blanco-primario);
    border-radius: 50px;
    align-items: center;
    padding: 5px;
    margin: 15px 0 15px 0;

    img{
        padding: 0;
        margin-right: 15px;
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
    }

    p{
        margin: 0;
        font-size: 30px;
        color: var(--background);
        font-weight: 650;
        margin-right: auto;
    }

    label{
        color: var(--background);
        font-weight: 600;
        padding: 10px;
    }

    .trash{
        margin: 0px 15px 0px 25px;
        background-color: var(--rosa-primario);
        color: var(--background);
        border: none;
        width: 25px;
        height: 25px;
        border-radius: 5px;
    }
}

.plus-comp{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--azul-primario);
    padding: 0;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    
    font-size: 50px;
    color: var(--background);
}

.download{
    background-color: var(--rosa-primario);
    color: var(--background);

    border: none;
    border-radius: 10px;

    font-size: 20px;
    font-weight: 700;
    width: 200px;
    height: 60px;
    margin: 20px;
}

.center{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.thanks-page{
    position: relative;

    height: 75vh;
    padding: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .blob-left{
        width: 700px;
        position: absolute;
        left: -200px;
        top: -300px;
        opacity: 0.5;
        filter: blur(50px);
    }
    .blob-right{
        width: 700px;
        position: absolute;
        top: -200px;
        right: -300px;
        opacity: 0.5;
        filter: blur(50px);
    }
}

.top{
    position: relative;
    .big{
        font-size: 80px;
        font-weight: 700;
        width: 700px;
        margin-bottom: 0;
        margin-top: 0;
    }
    .little{
        font-size: 60px;
        font-weight: 600;
        margin-top: 0;
        margin-bottom: 0;
    }
    .offset{
        margin: 0;
        position: absolute;

        left: 530px;
        bottom: -5px;

        font-size: 80px;
        font-weight: 600;
        color: var(--rosa-primario);
    }

    .offset-dot{
        margin: 0;
        position: absolute;

        left: 830px;
        bottom: -5px;

        font-size: 80px;
        font-weight: 600;
        color: var(--azul-primario);
    }
}

.blue{
    color: var(--azul-primario);
}

.bottom{
    margin-left: auto;
    display: flex;
    flex-direction: column;
    
    .text{
        display: flex;
        flex-direction: row;
        margin-left: auto;
        font-size: 50px;
        font-weight: 600;

        .blue{
            padding-right: 12px;
            margin-bottom: 0;
        }
        p{
            margin-bottom: 0;
        }
    }

    .invest-msg{
        margin-left: auto;
        margin-top: 0px;
        font-size: 50px;
        font-weight: 600;
    }
}

.logo-finan{
    position: absolute;
    left: 0;
    bottom: 0;
    img{
        width: 500px;
    }
}